html{
    height: 100%;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-image: url('airsnipe.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-attachment: fixed;
}


*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

h1{
    text-shadow: 2px 2px black;
}
p{
    color: black;
    text-shadow: 1px 1px white;
}

a{
    text-decoration: none;
}


.headerBox{
    background-color: rgb(100, 120, 100);
    /* border-radius: 30px; */
    padding: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 6vh;
}


.speedsoftTitle{
    color: white;
    margin-left: 10%;
    
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:  50px;
    margin-right: 5%;
}


.nav-button{
    text-decoration: none;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    width: 150px;
    /* margin-right: 5%; */
    margin-right: 5vw;
    transition: transform 0.3s ease;
    position: relative;
    color: black;
    box-shadow: 4px 7px black;
    transition: background-color 0.5s ease, transform 0.5s ease;
}


.nav-button:hover{
    /* background-image: linear-gradient(green,black); */
    transform: scale(1.1);
    background-color: lightgreen;
}

.headerMobile {
    display: none;

    background-color: rgb(100, 120, 100);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 7vh;
}
.headerMobile .speedsoftTitle {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerMobile h1 {
    margin-left: auto;
    margin-right: auto;
}

.headerMobile div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2vh;
}

.mobileButton {
    text-decoration: none;
    background-color: white;
    text-align: center;
    /* width: 150px; */
    /* margin-right: 5%; */
    position: relative;
    color: black;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}







.container{
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    height: 100vh;
}

section{
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
}


.rightBox{
    display: flex;
    justify-content: right;
    height: 90vh;
}


p{
    text-wrap: wrap;
}


.box{
    background-color: rgba(245, 245, 219,0.3);
    display: grid;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vh;
    margin-left: 40vw;
    padding: 3%;
    margin-top: 10%;
    /* margin-right: 5%; */
    margin-bottom: 10%;
    color: white;
    /* font-size: 30px; */
    font-size: clamp(30px, 5vw, 50px);
    /* font-size: max(30px, 5vw); */
    border-radius:50px;

}
.box2{
    background-color: rgba(100, 120, 120,0.4);
    width: 30vw;
    padding: 5vh;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
    color: white;
    font-size: 30px;
    border-radius:50px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.rightBox2{
    display: flex;
    justify-content: left;
    height: 90vh;
}



.speedsoft-title{
    margin-top: 0px;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px black;
}



.bar{
    height: 100%;
    width: 1000vh;

}

.bar-2{
    height: 100%;

}


.two{
    background-image: url(Airosft_grass.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-size: cover;
}

.three{
    background-image: url(Airsoft_ground.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-size: cover;
}
.four{
    background-image: url(Airosft_smoke.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-size: cover;
}



@media (max-width: 500px) {
    .headerBox {
        display: none;
    }

    nav {
        display: none;
    }

    .headerMobile {
        display: block;
    }



    .box{
        background-color: rgba(245, 245, 219,0.6);
        width: 85vw;
        height: 70vh;
        margin-left: 0;
        padding: 5vw;
        margin-top: 15vh;
        margin-bottom: 10%;
        color: white;
        font-size: clamp(30px, 5vw, 50px);
        border-radius:50px;
    
    }
    .box2{
        background-color: rgba(245, 245, 219,0.6);
        width: 85vw;
        height: 70vh;
        padding: 5vh;
        margin-top: 15vh;
        margin-bottom: 10%;
        margin-left: 5%;
        margin-right: 5%;
        color: white;
        font-size: 30px;
        border-radius:50px;
    }

    .rightBox{
        display: flex;
        justify-content: center;
    }

    .rightBox2{
        display: flex;
        justify-content: center;
    }

    
}